*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

header{
    width: 100%;

}
.Entete {
    display: flex;
    width: 100%;
  
}
.Entete :first-child {
    width: 50%;
    background-color: #5f9ea0;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.Entete :nth-child(2){
    width: 50%;
    background-color:  #008b8b;
    padding: 5px;
    color: black;
    
}
.Entete :nth-child(3){
    width: 50%;
    background-color: #00ced1;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.Entete div  {
    display: flex;
    justify-content: center;
}


.nav2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffebcd;
    padding: 20px;
}
.nav2 a {
    text-decoration: none;
    color: black;

}
