*{
    box-sizing: border-box;
}

body{
    width: 99%;
    margin: 20px auto;
    border: 2px solid gray;
}

header{
    width: 100%;

}
.Entete {
    display: flex;
    width: 100%;
  
}
.Entete div:first-child {
    width: 50%;
    background-color: #5f9ea0;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.Entete :nth-child(2){
    width: 50%;
    background-color:  #008b8b;
    padding: 5px;
    color: black;
    
}
.Entete :nth-child(3){
    width: 50%;
    background-color: #00ced1;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.Entete div  {
    display: flex;
    justify-content: center;
}


.nav2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffebcd;
    padding: 20px;
}
.nav2 a {
    text-decoration: none;
    color: black;

}

.section1{
    display: flex;
    margin: 10px;

}
.section1 article:first-child{
    background-color: #a9a9a9;
    width: 50%;
    padding: 50px;
    text-align: center;
    
}
.section1 article:last-child{
    background-color: #708090;
    width: 50%;
    padding: 50px;
    text-align: center; 
}

.section2 {
    display: flex;
}
.section2 div:first-child{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    text-align: center;

}
.section2 div:first-child p{
    background-color: #b0e0e6;
    padding: 10px;
}
.section2 div article:first-child{
    background-color: #87ceeb;
    width: 25%;
    padding: 10px;
    
}


