img { width: 10%;
    display: block;
    margin: auto;
}

li{ 
    list-style: none;
    display: inline-block;
    text-align: center;
}

li a {
    text-decoration: none;
    font-weight: bolder;
    color: #ff3366;
    text-align: center;
    padding: 250px;
    
}


h1 {
    text-align: center;
}

.section{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    border: 8px #ff3366;
    border-bottom-width: 4px;
}

#conteneur1 {
    margin-left: 00px;
    margin-right: 00px;

    text-align: center;
    background-color: #FFD6D6;
    font-weight: bold;
    padding: 10px;
    
}

#conteneur2 {
    margin-left: 00px;
    margin-right: 00px;
    text-align: center;
    background-color:#944E63 ;
    padding: 50px;
    margin: 0 90 90 90px;
    
    
}

#conteneur2_article {
    display: inline-flex;
    justify-content: space-between;
    color: white;
    width: 30%;
    padding: 10px;
    background-color: #b47b84;
    text-align: left;
    margin: 0 10px 0;
}
#conteneur2_article h3{
    color: #333333;
    text-align: center;
}
#conteneur2_article p{
    text-align: center;

}
#conteneur3 {
    justify-content: stretch;
    background-color: #CAA6A6;
    width:20%;
    display: flex;
    align-items: flex-end;
}

footer{
    text-align: center;
}
footer a {
    text-decoration: none;
}